body {
background: black;
font-family: neplus ultra;
color: cyan;
}

img.center {
    display: block;
    margin: 0 auto;
}

.jumbotron {
  background-color: grey;
}


h2 {
  color: cyan;
}

h2 {
	text-align: center;
}

.bio {
	text-align: center;
}

#wiki {
  border: solid;
}

#larger {
  font-size: 1.25em;
}
.quote {
  font-family: cursive;
}
.time {
  text-decoration: underline;
}
